<div class="simulation-parameters">
  <p class="simulation-parameters__title">Параметры моделирования</p>
  <div class="simulation-parameters__input">
    <span>Количество приборов: </span>
    <input type="number" min="1" [(ngModel)]="devicesNumber"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Количество источников: </span>
    <input type="number" min="1" [(ngModel)]="sourcesNumber"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Ёмкость буфера: </span>
    <input type="number" min="1" [(ngModel)]="bufferCapacity"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Минимальный интервал: </span>
    <input type="number" min="0" [(ngModel)]="intervalParams.a"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Максимальный интервал: </span>
    <input type="number" min="0" [(ngModel)]="intervalParams.b"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Интенсивность обслуживания: </span>
    <input type="number" min="0" max="1" step="0.05" [(ngModel)]="serviceTimeParams.lambda"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Время моделирования: </span>
    <input type="number" min="0" [(ngModel)]="simulationEndTime"/>
  </div>
  <div class="simulation-parameters__input">
    <span>Скорость моделирования: </span>
    <input type="range" min="0" max="5000" step="100" [(ngModel)]="simulationInterval"/>
  </div>
</div>
<button (click)="startSimulation()">
  {{ isStarted() ? 'Перезапустить' : 'Старт' }}
</button>
<button (click)="simulateNextStep()" class="next-step-btn">
  Следующий шаг
</button>
@let interval = simulationInterval();
<button (click)="simulateAllSteps(interval)" class="next-step-btn">
  Полное моделирование
</button>
@let n = simulationStep();
<button (click)="simulateNSteps(n, interval)" class="next-step-btn">
  Авто ({{ n }} шагов)
</button>

<p>Шаг: {{ currentStep() }}</p>
<p>Время: {{ currentTime() }}</p>

<app-buffer-block [bufferCells]="bufferCells"></app-buffer-block>
<app-devices-block [devices]="devices"></app-devices-block>

<app-events-calendar [sources]="sources" [devices]="devices"></app-events-calendar>

<p>Сообщения:</p>
<app-log-block [style.max-height.px]="200" [logs]="messages"></app-log-block>

<app-summary-stats-block></app-summary-stats-block>
<app-sources-stats-block></app-sources-stats-block>
